:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 100px; /* Hauteur approximative du header */
  padding-bottom: 100px; /* Hauteur approximative du footer */
  overflow-y: auto;
}

.icon-container {
  position: fixed;
  bottom: 0; /* Fixé tout en bas */
  left: 0; /* Commence à gauche */
  width: 100%; /* Prend toute la largeur */
  background-color: #242424; /* Même couleur que le fond, remplace la transparence */
  padding: 15px 0; /* Espace au-dessus et en-dessous des icônes */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Espacement entre les icônes */
  z-index: 100; /* S'assure que le footer reste au-dessus des autres éléments */
}

.footer-icon {
  border-radius: 50px;
  width: 50px; /* Taille des icônes dans le footer */
  padding-top: 2em;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242424; /* Même couleur que le fond */
  padding: 15px 30px; /* Ajout de padding horizontal et vertical */
  z-index: 100; /* Inférieur au footer mais supérieur au reste du contenu */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour le distinguer */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* Flex haut du header */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-name {
  font-size: 2.5em; /* Taille du texte du nom */
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-photo {
  border-width: 4px;
  border-style: solid;
  border-color: #64b1ff;
  border-radius: 20%; /* Photo ronde */
  width: 90px; /* Taille de la photo */
  height: 90px; /* Assurez-vous que la hauteur est proportionnelle */
  object-fit: cover; /* Assure que l'image couvre bien l'espace */
  margin-bottom: .2rem;
}

.flag-container {
  display: flex;
  gap: 0.5rem;
  margin-right: 3px;
  padding: 5px 5px;
}

.flag-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding-right: 5px;
}

.flag-icon {
  width: 40px; /* Même largeur que la photo */
  height: 40px; /* Même hauteur que la photo */
  object-fit: cover; /* Assure que l'image couvre bien l'espace */
  border-radius: 20%; /* Même bordure arrondie que la photo */
}

body {
  margin: 0;
  margin-right: auto;
  padding-top: 6rem;
  padding-left: 2rem;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #64b1ff;
  text-decoration: inherit;
}
a:hover {
  color: #64b1ff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #64b1ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #64b1ff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Hamburger caché par défaut */
.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Menu navigation caché en mobile */
.nav-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  /* justify-content: flex-start; */
}

.nav-link {
  padding: 10px 15px; /* Ajustez le padding selon vos besoins */
  text-decoration: none;
  color: #64b1ff;
  font-weight: 500;
  border: 2px solid #64b1ff; /* Ajoute une bordure */
  border-radius: 8px; /* Coins arrondis */
  transition: border-color 0.25s, background-color 0.25s;
}

.nav-link:hover {
  color: #64c4ff;
  border-color: #ffffff; /* Change la couleur de la bordure au survol */
  background-color: #25425e; /* Change la couleur de fond au survol */
}

.language-buttons {
  display: flex;
  gap: 0.5rem; /* Espacement entre les boutons de langue */
  align-items: center;
  padding-right: 2rem;
}

.bio {
  padding: 50px;
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .header-name {
    font-size: 1.9em;
  }

  .nav-links {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header-photo {
    width: 40px;
    height: 40px;
    margin-bottom: none;
  }

  .header-name {
    font-size: 1em;
  }

  .bio {
    padding: 10px;
  }
}
.contact-container {
  border-radius: 12px;
  padding: 2rem;
  max-width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 2px solid #64b1ff;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.contact-input:focus {
  border-color: #25425e;
  outline: none;
}

.contact-button {
  display: flex;
  width: 15%;
  padding: 12px;
  background-color: #64b1ff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #25425e;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    padding: 2rem;
  }

  .contact-button {
    font-size: 0.9rem;
  }
}

.studies {
  font-size: 1em; /* Taille de la police */
  line-height: 1.2; /* Interligne */
}

.studies h3 {
  color: #64b1ff;
}

.studies ul {
  list-style-type: disc; /* Style de la liste */
  padding-left: 20px; /* Espacement à gauche */
}

.studies li {
  margin-bottom: 0.5em; /* Espacement entre les éléments de la liste */
}

.studies a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.studies a:hover {
  text-decoration: underline; /* Souligner les liens au survol */
}

.douce h3 {
  color: #64b1ff;
}

.tech h3 {
  color: #64b1ff;
}

.competencesTechniques-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 768px;
  margin: 0 auto;
  padding: 32px;
}

.competencesTechniques-title {
  font-size: 24px;
  font-weight: bold;
  color: #007bff; /* Bleu */
  text-align: center;
  margin-bottom: 24px;
}

.competencesTechniques-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; /* Bleu */
  margin-bottom: 16px;
}

.competencesTechniques-list {
  list-style-type: disc;
  padding-left: 24px;
  color: #4a4a4a; /* Gris foncé */
}
